.settings
.project
.classpath
.springBeans
.sts4-cache
**/*.class
**/target/*
.lst
.apt_generated
.factorypath
.DS_Store
**/bin/*
**/pom.xml.versionsBackup
.metadata
servers/*
RemoteSystemsTempFiles
target/**
**/target/
.settings
**/.DS_Store
.settings/**
